{
    auto_https off
}

:80 {
    @whoami host whoami.swarm.home
    handle @whoami {
        reverse_proxy whoami:80
    }

    @echo host echo.swarm.home
    handle @echo {
        reverse_proxy echo:5678
    }

    @dozzle host log.swarm.home
    handle @dozzle {
        reverse_proxy dozzle:8080
    }

    @jellyfin host jellyfin.swarm.home
    handle @jellyfin {
        reverse_proxy jellyfin:8096
    }

    @metube host metube.swarm.home
    handle @metube {
        reverse_proxy metube:8081
    }

    @filebrowser host files.swarm.home
    handle @filebrowser {
        reverse_proxy filebrowser:80
    }

    @dockhand host docker.swarm.home
    handle @dockhand {
        reverse_proxy dockhand:3000
    }

    reverse_proxy glance:8080
}